/*Countdown color Scheme - Orange*/
/*rgba(254, 151, 76, 1)*/

h1,
.btn-social, 
.btn-social:focus,
.newsletter-form .input-group-addon,
.newsletter-form .input-group-btn .btn-default,
.newsletter-form .btn-default{
	color: rgba(254, 151, 76, 1);
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus,
.newsletter-focus-btn,
.newsletter-form .input-group-btn .btn-default:hover,
.newsletter-form .btn-default:hover,
.sidebar,
.time-entry .badge, .circle, .hovercontent{
	background-color: rgba(254, 151, 76, 1);
}

.hovercontent{
	background-color: rgba(254, 151, 76, .8);
}

.btn-social, 
.btn-social:focus{
	border: 1px solid rgba(254, 151, 76, 1);
}

.newsletter-focus{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control:focus{
	border-color: rgba(254, 151, 76, 1);
}

.newsletter-form input,
.newsletter-form textarea,
.newsletter-form .input-group-addon,
.newsletter-form .input-group-btn .btn-default,
.newsletter-form .btn-default{
	border-color: rgba(254, 151, 76, 1);
}

