/*Countodwn color scheme - BLUE*/
/*rgba(65,184,254,1)*/

h1, .btn-social, .btn-social:focus, .newsletter-form .input-group-addon, .newsletter-form .input-group-btn .btn-default, .newsletter-form .btn-default { color: rgba(65,184,254,1); }
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .newsletter-focus-btn, .newsletter-form .input-group-btn .btn-default:hover, .newsletter-form .btn-default:hover, .sidebar, .time-entry .badge, .circle, .hovercontent { background-color: rgba(65,184,254,1); }
.hovercontent { background-color: rgba(65,184,254,.8); }
.btn-social, .btn-social:focus { border-color: rgba(65,184,254,1); }
.form-control:focus, .btn-social, .btn-social:focus, .newsletter-form input, .newsletter-form textarea, .newsletter-form .input-group-addon, .newsletter-form .input-group-btn .btn-default, .newsletter-form .btn-default { border-color: rgba(65,184,254,1); }
