#pageHeader { position: relative; height: 60px; padding: 0; background-color: #f1f1f1; border-bottom: 1px solid #e5e5e5; }
#pageHeader > .container { position: relative; padding: 12px 20px 12px 54px; }
#pageHeader > .container > h2 { padding: 10px 0; margin: 0; font-size: 20px; line-height: 16px; }
.chapter .container { position: relative }
.chapter-header { padding: 15px 0 10px 23px; margin: 0 0 20px 21px; border-bottom: 1px double #f1f1f1; }
.chapter-body {padding: 0 0 30px 44px}
.chapter-body:before { position: absolute; top: -66px; bottom: 0; left: 35px; display: block; content: ' '; border-left: 1px dotted #e5e5e5; }
.chapter-body > section { position: relative; }
.chapter-body > section:before { position: absolute; top: 28px; bottom: -25px; left: -24px; display: block; content: ' '; border-left: 1px dotted transparent; }
.chapter-body > section:last-child:before { bottom: 0; }
.chapter-body > section > header { position: relative; padding-top: 20px; padding-bottom: 10px; }
.chapter-body > section > header > h3 { display: inline-block; margin: 0; cursor: pointer; }
.chapter-body > section > header > h3:before, .chapter-body > section > header > h3:after { position: absolute; top: 25px; left: -24px; content: ' '; -webkit-transition: background-color .2s cubic-bezier(.175, .885, .32, 1); transition: background-color .2s cubic-bezier(.175, .885, .32, 1); }
.chapter-body > section > header > h3:before { display: none; width: 1px; height: 7px; }
.chapter-body > section > header > h3:after { top: 28px; left: -27px; width: 7px; height: 1px; }
.chapter-body > section > header:before { position: absolute; top: 23px; left: -29px; display: block; width: 11px; height: 11px; content: ' '; background-color: #ddd; border-radius: 5px; -webkit-transition: background-color .2s cubic-bezier(.175, .885, .32, 1); transition: background-color .2s cubic-bezier(.175, .885, .32, 1); }
.chapter-body > section > header:after { position: absolute; top: 28px; left: -18px; display: block; width: 16px; content: ' '; border-bottom: 1px dotted #e5e5e5; }
.chapter-body > section.hover > header h3:before, .chapter-body > section.hover > header h3:after { background-color: #fff; }
.chapter-body > section.hover.collapsed > header > h3:before { display: block; }
.chapter-body > section > article { height: auto; -webkit-transition: opacity .2s cubic-bezier(.175, .885, .32, 1), height .2s cubic-bezier(.175, .885, .32, 1); transition: opacity .2s cubic-bezier(.175, .885, .32, 1), height .2s cubic-bezier(.175, .885, .32, 1); }
.chapter-body > section.collapsed:before { display: none; }
.chapter-body > section.collapsed > article { height: 0; overflow: hidden; filter: alpha(opacity=0); opacity: 0; }
.chapter-body > article > .alert, .chapter-body > section > article > .alert { border: none; border-radius: 0; }
.chapter-body > article > .alert code, .chapter-body > section > article > .alert code { background-color: rgba(255, 255, 255, .2); border-color: rgba(0, 0, 0, .1); }
.chapter-body > section > header:before { background-color: #ffe5e0; }
.chapter-body > section.hover > header:before { background-color: #ea644a; }
.chapter-body > section.hover > header:after { border-color: #ea644a; }
.chapter-body > section.hover > header > h3 { color: #ea644a; }
.chapter-body > section.hover:before { border-color: #ea644a; }
.chapterTogger { position: absolute; bottom: 11px; left: 25px; z-index: 10; width: 19px; height: 19px; padding: 0; color: #ddd; background-color: #fff; border: 1px solid #e5e5e5; border-radius: 10px; outline: none; }
.chapterTogger:before, .chapterTogger:after { position: absolute; top: 4px; left: 4px; display: block; content: ' '; background-color: #ddd; -webkit-transition: background-color .4s cubic-bezier(.175, .885, .32, 1); transition: background-color .4s cubic-bezier(.175, .885, .32, 1); }
.chapterTogger:before { left: 8px; display: none; width: 1px; height: 9px; }
.chapterTogger:after { top: 8px; width: 9px; height: 1px; }
.chapter.collapsed .chapterTogger:before { display: block; }
.chapterTogger:hover { border-color: #ea644a; }
.chapterTogger:hover:before, .chapterTogger:hover:after { background-color: #ea644a; }


#allTogger { position: absolute; bottom: 14px; left: 21px; z-index: 10; width: 27px; height: 27px; background-color: #ea644a; color: #fff; padding: 0; border-radius: 18px; outline: none;border:0; }
#allTogger:before, #allTogger:after { position: absolute; top: 7px; left: 7px; display: block; content: ' '; background-color: #ddd; }
#allTogger:before { left: 13px; display: none; width: 1px; height: 13px; }
#allTogger:after { top: 13px; width: 13px; height: 1px; }
#page.page-collapsed #allTogger:before { display: block; }
#allTogger:hover { background-color: #ea644a; }
#allTogger:hover:before, #allTogger:hover:after { background-color: #fff; }
